body{
	background-image: url(night.jpg);
	margin:100px;
}
.pascal{
	 
}
.pascal fieldset{
	width: 25%;
	 height: 500px;
	 background-color: lightskyblue;
	 margin: auto;
	 opacity:0.9;
	 border-radius: 20px;

	}
.pascal img{
	margin: auto;
	display:block;
	border: 2px;
	border-radius: 200px;
	padding-top: 30px;
	
}